In [57]:
# Now we'll study how to make lists
list1=["Let's see", "if this", "works"]

In [58]:
list1

["Let's see", 'if this', 'works']

In [59]:
# Let's find the lenght of our list
len(list1)

3

In [60]:
# What's the string in the position 2 of our list (don't forget that Python count from 0)
list1[2]

'works'

In [61]:
# Now we're going to add more elements to our list
list1=list1+["what","do you", "think", "of these", "examples?"]

In [62]:
list1

["Let's see",
 'if this',
 'works',
 'what',
 'do you',
 'think',
 'of these',
 'examples?']

In [63]:
# Another way to add more items to our list
list1.append("See??")
list1.append("See??")

In [64]:
list1

["Let's see",
 'if this',
 'works',
 'what',
 'do you',
 'think',
 'of these',
 'examples?',
 'See??',
 'See??']

In [65]:
# In order to delete an item , it should be done as follows:
list1.pop(9)

'See??'

In [66]:
list1

["Let's see",
 'if this',
 'works',
 'what',
 'do you',
 'think',
 'of these',
 'examples?',
 'See??']

In [94]:
# Imagine that our list has names
nameslist=["Jon", "Anna", "Tomas", "Peter", "Nick"]

In [95]:
nameslist

['Jon', 'Anna', 'Tomas', 'Peter', 'Nick']

In [96]:
# Now let's sort our list
nameslist.sort()

In [97]:
nameslist

['Anna', 'Jon', 'Nick', 'Peter', 'Tomas']

In [98]:
# Now let's reverse our list
nameslist.reverse()

In [99]:
nameslist

['Tomas', 'Peter', 'Nick', 'Jon', 'Anna']

In [100]:
# Let's create 2 more lists
nameslist2 =["cristiano", "Britney", "Jay", "Steve"]
nameslist3=["Luke", "Phil", "Robert","Susan"]

In [101]:
# Let us put all together
fnameslist=[nameslist,nameslist2,nameslist3]

In [102]:
fnameslist

[['Tomas', 'Peter', 'Nick', 'Jon', 'Anna'],
 ['cristiano', 'Britney', 'Jay', 'Steve'],
 ['Luke', 'Phil', 'Robert', 'Susan']]

In [103]:
# We want to see only the first row of our list
fnameslist[0]

['Tomas', 'Peter', 'Nick', 'Jon', 'Anna']

In [104]:
# Now, we wnat the firts item from the first row of our list
fnameslist[0][0]

'Tomas'